<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <h3>Survey</h3>
        <form action='/' method='post'>
        Name: <input type='text' name='name'>
        Dojo location: <input type='text' name='Dojo Location'>
        Favorite language: <input type='text' name='Favorite language'>
        <input type="submit" value='survey data'>
    </form>
</body>
</html>